
  
  .form_container {
    background-color: black; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    text-align: center;
  }
  
  .form_title {
    font-size: 24px;
  }
  
  .input_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form_group {
    display: flex;
    flex-direction: column;
  }
  
  .form_label {
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .form_input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    color: black;
  }
  
  .next_button {
    padding: 10px;
    font-size: 18px;
    background-color: #007acc; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .next_button:hover {
    background-color: #005a9e; 
  }

  
  