
/*.next-page {
  background-color: #ffffff; 
  color: #007acc; 
  padding: 20px;
}*/

.next-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
  text-align: center; 
}

.next-page h1{
  padding: 10px;
  margin: 10px;
  font-size: larger;
  text-decoration: underline;
  color: white;
  font-weight:bolder;
}


.city-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: none;
}

.city-card {
  width: 10em;
  height: 10em;
  margin: 1em;
  padding: 2em;
  /* border: 1px solid #ddd;  */
  /* border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(160, 160, 160, 0.23);
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(34, 58, 102, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}


.city-name {
  font-weight: bold;
  margin-top: 10px;
}



