.next-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
    text-align: center; 
  }
  
  .next-page h1{
    padding: 10px;
    margin: 10px;
    font-size: larger;
    text-decoration: underline;
    color: white;
    font-weight:bolder;
  }
  
  
  .city-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: none;
  }
  
  .city-card {
    width: 10em;
    height: 10em;
    margin: 1em;
    padding: 2em;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(160, 160, 160, 0.23);
      backdrop-filter: blur(10px); 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .city-name {
    font-weight: bold;
    margin-top: 10px;
  }

  .proceed-button{
    background-color: #800080; /* Purple background color */
    color: #fff; /* White text color */
    font-weight: bold; /* Bold text */
    padding: 10px 20px; /* Padding around text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Cursor style on hover */
    transition: background-color 0.3s ease;
  }

  .proceed-button:hover{
    background-color: #a94ca9;
  }